.toggle-switch {
  width: 56px;
  height: 28px;
  border: 2px solid black;
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  margin-right: 20px;
}

.toggle-switch__checkbox {
  cursor: pointer;
  opacity: 0;
}

.toggle-switch__checkbox:checked ~ .toggle-switch__circle {
  left: 28px;
}

.toggle-switch__circle {
  background-color: black;
  width: 28px;
  height: 28px;
  position: absolute;
  border-radius: 50%;
  left: 0;
  transition: all 0.3s ease;
}

.toggle-switch__text_F {
  position: absolute;
  left: 8px;
  top: 8px;
  color: white;
  font-size: 12px;
  transition: all 0.3s ease;
}

.toggle-switch__text_C {
  position: absolute;
  right: 8px;
  top: 8px;
  color: black;
  font-size: 12px;
  transition: all 0.3s ease;
}

.toggle-switch__checkbox:checked ~ .toggle-switch__text_F {
  color: black;
}

.toggle-switch__checkbox:checked ~ .toggle-switch__text_C {
  color: white;
}
