.card {
  position: relative;
  width: 323px;
  display: flex;
  justify-content: center;
  font-family: "Cabinet Grotesk", Arial, sans-serif;
}

.card__title {
  background-color: #ffffff;
  position: absolute;
  margin: 0;
  padding: 0 12px;
  top: 15px;
  border-radius: 4px;
  color: #00000099;
}

.card__image {
  width: 325px;
  height: 328px;
  border-radius: 19px;
  border: 1px;
}
