.header {
  display: flex;
  align-items: center;
  padding: 32px 0 28px;
  background-color: #f3f3f3;
  margin-bottom: 28px;
  font-family: "Cabinet Grotesk", Arial, sans-serif;
}

.header__title {
  font-weight: 700;
}

.header__logo {
  margin-right: 24px;
}

.header__date-and-location {
  margin: 0;
}

.header__add-cloths-btn {
  margin-left: auto;
  margin-right: 20px;
  border: none;
}

.header__user-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__username {
  margin: 0;
}

.header__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
