.header {
  display: flex;
  align-items: center;
  padding: 32px 0 28px;
  background-color: #f3f3f3;
  margin-bottom: 28px;
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-weight: 700;
}

.header__logo {
  margin-right: 24px;
}

.header__date-and-location {
  margin: 0;
}

.header__buttons {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.header__add-clothes-button {
  padding: 0;
  margin-left: auto;
  margin-right: 20px;
  border: none;
  font-weight: 700;
  cursor: pointer;
}

.header__user-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__username {
  margin: 0;
}

.header__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.header__user-link {
  text-decoration: none;
  color: black;
}
