.modal__content {
  width: 498px;
}

.modal__image {
  width: 100%;
  height: 498px;
  display: block;
  object-fit: cover;
}

.modal__content_type_image {
  padding: 0;
  width: 498px;
  border-radius: 20px;
  overflow: hidden;
}

.modal__caption {
  margin: 20px 0 12px 32px;
}

.modal__weather {
  margin: 0 0 32px 32px;
}

.modal__close-item-modal {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 20px;
  right: 28px;
  background-repeat: no-repeat;
  background-image: url(../../assets/close-icon-white.png);
  border: none;
  background-color: transparent;
}

.modal__footer {
  display: flex;
  justify-content: space-between;
}

.modal__delete-btn {
  height: 20px;
  background-color: white;
  border: none;
  color: #ff4d00;
  font-weight: 700;
  cursor: pointer;
  margin: 20px 34px 0 0;
}
