.sidebar {
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-weight: 700;
}

.sidebar__profile {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
}

.sidebar__avatar {
  height: 56px;
  width: 56px;
  border-radius: 50%;
}

.sidebar__username {
  font-size: 20px;
  margin: 0;
}
